/* general */

html {
    height: 100% !important;
}

body {
    background-color: #F5F5F5 !important;
    font-family: Oswald;
    font-weight: 400;
}

h1 {
    font-size: 2.5rem !important;
}

a {
    text-decoration: none !important;
    color: #F5F5F5 !important;
}

a:hover {
    text-decoration: none !important;
}

.row {
    margin: 0px;
}

.col {
    padding: 0px;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

.off-padding {
    padding: 0px !important;
}

.override-a-defualt {
    color: #000 !important;
}


/*--------------------------- nav bar ----------------------- */
nav {
    background-color: #000;
    color: #F5F5F5;
    font-family: Oswald;
    font-weight: 200;
    padding: 0px !important;
    margin: 0px !important;
}

.navbar-toggler {
    padding: 0px;
    font-size: 2rem !important;
    background-color: #000;
    color: #F5F5F5 !important;
    border: none;
}

/* --- logo --- */

#logo-text {
    position: absolute;
    bottom: 0;
    padding: 15px 0px;
    font-family: Oswald;
    font-weight: 400;
    margin: 0.5rem;
}

#nav-img {
    height: 5rem;
    width: auto;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
}

/* right/catergory section */

.justify-content-end>li {
    margin: 0.5rem;
}

.dropdown-menu {
    right: 0 !important;
    left: auto;
    min-width: 0 !important;
}

/*----------------- footer --------------- */
footer {
    background-color: #000 !important;
    color: #fff !important;
    font-family: Oswald;
    font-weight: 200;
}

.social-media {
    font-size: 1.5rem;
    font-weight: 400;
}

#email-footer-span {
    color: #F5F5F5;
}

/* homepage */

#banner-img {
    background-image: url('../images/photos/ati.jpg');
    display: inline-block;
    width: 30vh;
    height: 30vh;
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 50%;
}

#language-img-container {
    position: absolute;
    bottom: 0;
}

.language-img {
    float: left;
    z-index: 99999999;
    width: 3rem;
    height: 3rem;
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 50%;
}

#html-img {
    background-image: url('../images/icons/html.png');
}

#css-img {
    background-image: url('../images/icons/css.png');
}

#js-img {
    background-image: url('../images/icons/js.png');
}

#python-img {
    background-image: url('../images/icons/python.png');
}

#profession-header {
    text-transform: uppercase;
    text-decoration: underline;
}

.welcoming-text {
    width: 50%;
}

.home-page-btn-container {
    text-transform: uppercase;
}

.homepage-btn {
    margin-right: 0.5rem;
    width: 10rem;
    color: #F5F5F5;
    background-color: #000 !important;
    font-weight: 500 !important;
}

/* --- profile--- */

#about-me-banner-img {
    background-image: url('../images/photos/inotila.jpg');
    display: inline-block;
    width: 30vh;
    height: 30vh;
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 50%;
}

.profile-row {
    background-color: aquamarine;
    height: 5rem;
}

.profile-headings {
    background-color: red;
}

.profile-headings-sub-div {
    background-color: darkgoldenrod;
}

.profile-heading-text {
    width: 9rem;
    padding: 28px 0;
}

.skill-blocks {
    background-color: yellow;
    width: 100%;
    height: 3rem;
}

.skill-blocks-sub-div {
    background-color: rgb(86, 115, 119);
    width: 3rem;
    height: 3rem;
}

.skill-img {
    background-color: green;
    z-index: 9999999999999;
}

.skill-text {
    background-color: blueviolet;
    z-index: 9999999999999;
}

.software-and-tolls {
    /* width: 50%; */
}

#html-skill-img {
    z-index: 99999999;
    width: 3rem;
    height: 3rem;
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 50%;
    background-image: url('../images/icons/html.png');
}

@media (max-width: 425px) {
    #nav-img {
        height: 4rem;
        margin-left: 1rem;
    }

    .welcoming-text {
        width: 100%;
    }
}