/* general */

html {
    height: 100% !important;
}

body {
    background-color: #dad7d7 !important;
    font-family: Oswald;
    font-weight: 400;
}

h1 {
    font-size: 2.5rem !important;
}

a {
    text-decoration: none !important;
    color: #F5F5F5 !important;
}

a:hover {
    text-decoration: none !important;
}

.row {
    margin: 0px;
}

.col {
    padding: 0px;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

.off-padding {
    padding: 0px !important;
}

.override-a-defualt {
    color: #000 !important;
}


/*--------------------------- nav bar ----------------------- */
nav {
    background-color: #000;
    color: #F5F5F5;
    font-family: Oswald;
    font-weight: 200;
    padding: 0px !important;
    margin: 0px !important;
}

.navbar-toggler {
    padding: 0px;
    font-size: 2rem !important;
    background-color: #000;
    color: #F5F5F5 !important;
    border: none;
}

/* --- logo --- */

#logo-text {
    position: absolute;
    bottom: 0;
    padding: 15px 0px;
    font-family: Oswald;
    font-weight: 400;
    margin: 0.5rem;
}

#nav-img {
    height: 5rem;
    width: auto;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
}

/* right/catergory section */

.justify-content-end>li {
    margin: 0.5rem;
}

.dropdown-menu {
    right: 0 !important;
    left: auto;
    min-width: 0 !important;
}

/*----------------- footer --------------- */
footer {
    background-color: #000 !important;
    color: #fff !important;
    font-family: Oswald;
    font-weight: 200;
}

.social-media {
    font-size: 1.5rem;
    font-weight: 400;
}

#email-footer-span {
    color: #F5F5F5;
}

/* --- icons --- */

.html-img {
    z-index: 99999999;
    width: 3rem;
    height: 3rem;
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 50%;
    background-image: url('../images/icons/html.png');
}

.icon-img-base-css{
    z-index: 99999999;
    width: 3rem;
    height: 3rem;
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 50%;
}

.css-img {
    background-image: url('../images/icons/css.png');
}

.js-img {
    background-image: url('../images/icons/js.png');
}

.python-img {
    background-image: url('../images/icons/python.png');
}

.postgres-img {
    background-image: url('../images/icons/postgresql.png');
}

.node-img {
    background-image: url('../images/icons/node.png');
}

.figma-img {
    background-image: url('../images/icons/figma.png');
}

.xd-img {
    background-image: url('../images/icons/adobexd.png');
}

.pen-and-paper-img {
    background-image: url('../images/icons/penandpaper.png');
}

.jquery-img {
    background-image: url('../images/icons/jquery.png');
}

.json-img {
    background-image: url('../images/icons/json.png');
}

.git-img {
    background-image: url('../images/icons/git.png');
}

.rest-img {
    background-image: url('../images/icons/rest.png');
}

/* homepage */

#banner-img {
    background-image: url('../images/photos/ati.jpg');
    display: inline-block;
    width: 30vh;
    height: 30vh;
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 50%;
}

#language-img-container {
    position: absolute;
    bottom: 0;
}

.language-img {
    float: left;
    z-index: 99999999;
    width: 3rem;
    height: 3rem;
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 50%;
}

#profession-header {
    text-transform: uppercase;
}

.welcoming-text {
    width: 50%;
}

.home-page-btn-container {
    text-transform: uppercase;
}

.homepage-btn {
    margin-right: 0.5rem;
    width: 10rem;
    color: #F5F5F5;
    background-color: #000 !important;
    font-weight: 500 !important;
}

.homepage-btn:hover {
    color: #000 !important;
    background-color:#F5F5F5 !important;
    border: 1px solid #000;
}

/* --- profile--- */

#about-me-banner-img {
    background-image: url('../images/photos/inotila.jpg');
    display: inline-block;
    width: 30vh;
    height: 30vh;
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 50%;
    border: 2px solid #000;
}

.profile-heading-text {
    width: 9rem;
    padding: 28px 0;
    float: left;
}

.mantra-text-div{
    width: 75%;
}

.skill-row {
    width: 100%;
}

.hr-in-skill-row {
    visibility: hidden;
}

.hr-between-skill-and-profile {
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    border-top: 0px solid rgba(0, 0, 0, .0);
}

/* --- projects --- */

.project-col-border{
    background-color: #f0efef;
   border-radius: 5%;
}

.project-img-circle {
   background-color: #fff;
    display: inline-block;
    width: 20vh;
    height: 20vh;
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 50%;
    border: 2px solid #000;
}

#byinoati-img , #byinoati-prototype-img{
    background-image: url('../images/projects/byinoati.png');
}

#five-thousand-img{
    background-image: url('../images/projects/fivethousand.png');
    background-color: #ecc30d !important;
}

#alchemist-tours-img{
    background-image: url('../images/projects/alchemisttours.jpg');
    background-size: contain !important;
}

#context-img{
    background-image: url('../images/projects/context.jpg');
}

#insta-assistant-img{
    background-image: url('../images/projects/insta-assitant.jpg');
    background-size: contain !important;
}

@media (max-width: 425px) {

    #nav-img {
        height: 4rem;
        margin-left: 1rem;
    }

    .welcoming-text {
        width: 100%;
    }

    /* --- icons --- */

    .html-img {
        width: 1.5rem;
        height: 1.5rem;
    }

    .css-img {
        width: 1.5rem;
        height: 1.5rem;
    }

    .js-img {
        width: 1.5rem;
        height: 1.5rem;
    }

    .python-img {
        width: 1.5rem;
        height: 1.5rem;
    }

    .postgres-img {
        width: 1.5rem;
        height: 1.5rem;
    }

    .node-img {
        width: 1.5rem;
        height: 1.5rem;
    }

    .figma-img {
        width: 1.5rem;
        height: 1.5rem;

    }

    .xd-img {
        width: 1.5rem;
        height: 1.5rem;
    }

    .pen-and-paper-img {
        width: 1.5rem;
        height: 1.5rem;
    }

    .jquery-img {
        width: 1.5rem;
        height: 1.5rem;
    }

    .json-img {
        width: 1.5rem;
        height: 1.5rem;
    }

    .git-img {
        width: 1.5rem;
        height: 1.5rem;
    }

    .rest-img {
        width: 1.5rem;
        height: 1.5rem;
    }

    /* --- profile --- */

    .profile-heading-text {
        float: none;
        padding: 0;
        width: 100%;
    }

    .hr-between-skill-and-profile {
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: 0;
        border-top: 1px solid rgba(0, 0, 0, .1);
    }

    .hr-in-skill-row {
        display: none;
    }

    #design-tools-heading {
        position: unset;
    }

    .skill-block-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .skill-text {
        font-size: 14px;
    }

    .mantra-text-div{
        width: 100%;
    }
    
}